aws_region           = "us-east-1"
management_account_id = "111111111111"
owner                 = "platform-team"
github_repository     = "example/terraform-infrastructure-projects"
state_bucket_name     = "macp-shared-terraform-state-example"
state_kms_key_arn     = "arn:aws:kms:us-east-1:111111111111:key/00000000-0000-0000-0000-000000000000"

allowed_regions = [
  "us-east-1"
]

enable_guardrails = false
enable_security_delegated_admin = false

accounts = {
  security = {
    name                = "Security"
    email               = "aws-security@example.com"
    organizational_unit = "security"
  }

  shared_services = {
    name                = "Shared Services"
    email               = "aws-shared@example.com"
    organizational_unit = "infrastructure"
  }

  development = {
    name                = "Development"
    email               = "aws-development@example.com"
    organizational_unit = "workloads"
  }

  production = {
    name                = "Production"
    email               = "aws-production@example.com"
    organizational_unit = "workloads"
  }
}
