{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "DenyOperationsOutsideApprovedRegions",
      "Effect": "Deny",
      "NotAction": [
        "account:*",
        "aws-marketplace:*",
        "budgets:*",
        "ce:*",
        "cloudfront:*",
        "cur:*",
        "globalaccelerator:*",
        "health:*",
        "iam:*",
        "networkmanager:*",
        "organizations:*",
        "route53:*",
        "route53domains:*",
        "shield:*",
        "support:*",
        "waf:*"
      ],
      "Resource": "*",
      "Condition": {
        "StringNotEquals": {
          "aws:RequestedRegion": ${allowed_regions}
        }
      }
    }
  ]
}
